@using Shakat.Shared.Models;
@using Shakat.UI.Services.Contracts;
<div class="modal-body">
	<div class="sub-type-radio-collection row">
		@foreach (var containerTruck in VehicleSubTypeInfos)
		{
			<div class="col-sm-3  col-xs-6">
				<input class="truck-subtype-radio" name="vehicletype" type="radio" id="containerTruck_15" onclick="@(()=>setTruck(@containerTruck.VehicleSubTypeInfoId))">
				<label class="truck-subtype-label"for="containerTruck_15">@containerTruck.SubType</label>
			</div>
		}
		@*<div class="col-sm-3  col-xs-6">
			<input class="truck-subtype-radio" name="vehicletype" type="radio" id="containerTruck_15" value="15">
			<label class="truck-subtype-label" onclick="setTruck('Truck Container 20 Feet SXL 6 Tons')" for="containerTruck_15">20 Feet SXL 6 Tons</label>
		</div>
		<div class="col-sm-3  col-xs-6">
			<input class="truck-subtype-radio" name="vehicletype" type="radio" id="containerTruck_17" value="17">
			<label class="truck-subtype-label" onclick="setTruck('Truck Container 32 Feet MXL 15 Tons')" for="containerTruck_17">32 Feet MXL 15 Tons</label>
		</div>
		<div class="col-sm-3  col-xs-6">
			<input class="truck-subtype-radio" name="vehicletype" type="radio" id="containerTruck_23" value="23">
			<label class="truck-subtype-label" onclick="setTruck('Truck Container 32 feet SXL 7 Tons')" for="containerTruck_23">32 feet SXL 7 Tons</label>
		</div>*@
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal" onclick="@CloseModal">Ok</button>
</div>

@code {

	[Inject]

	public IVehicleSubTypeInfoService VehicleSubTypeService { get; set; }

	public IEnumerable<VehicleSubTypeInfoDto> VehicleSubTypeInfos { get; set; } = new List<VehicleSubTypeInfoDto>();

	public VehicleSubTypeInfoDto newVehicleSubTypeInfoDtoObject { get; set; } = new();

	[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

	[Parameter]
	public int VehicleSubTypeInfoId { get; set; }

	protected override async Task OnInitializedAsync()
	{
		VehicleSubTypeInfos = await VehicleSubTypeService.GetByVehicleTypeId(3);
	}

	public async Task CloseModal()
	{
		await BlazoredModal.CloseAsync(ModalResult.Ok(VehicleSubTypeInfoId));
	}

	public void setTruck(int id)
	{
		VehicleSubTypeInfoId = id;
	}
}