<div class="modal-body">
	<div class="sub-type-radio-collection row">
		<div class="col-sm-3  col-xs-6">
			<input class="truck-subtype-radio" name="vehicletype" type="radio" id="containerTruck_15" value="15">
			<label class="truck-subtype-label" onclick="setTruck('Truck Container 20 Feet SXL 6 Tons')" for="containerTruck_15">20 Feet SXL 6 Tons</label>
		</div>
		<div class="col-sm-3  col-xs-6">
			<input class="truck-subtype-radio" name="vehicletype" type="radio" id="containerTruck_17" value="17">
			<label class="truck-subtype-label" onclick="setTruck('Truck Container 32 Feet MXL 15 Tons')" for="containerTruck_17">32 Feet MXL 15 Tons</label>
		</div>
		<div class="col-sm-3  col-xs-6">
			<input class="truck-subtype-radio" name="vehicletype" type="radio" id="containerTruck_23" value="23">
			<label class="truck-subtype-label" onclick="setTruck('Truck Container 32 feet SXL 7 Tons')" for="containerTruck_23">32 feet SXL 7 Tons</label>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
</div>