@using Shakat.Shared.Models;
@using Shakat.UI.Services.Contracts;
<div class="modal-body">
	<div class="sub-type-radio-collection row">
		@foreach (var trailerTruck in VehicleSubTypeInfos)
		{
			<div class="col-sm-3  col-xs-6">
				<input class="truck-subtype-radio" name="vehicletype" type="radio" id="trailerTruck_10" value="@trailerTruck.VehicleSubTypeInfoId">
				<label class="truck-subtype-label" onclick="setTruck('@trailerTruck.SubType')" for="trailerTruck_10">@trailerTruck.SubType</label>
			</div>
		}
		@*<div class="col-sm-3  col-xs-6">
			<input class="truck-subtype-radio" name="vehicletype" type="radio" id="trailerTruck_10" value="10">
			<label class="truck-subtype-label" onclick="setTruck('Trailer 40 Feet Semi Bed 22 Tons')" for="trailerTruck_10">40 Feet Semi Bed 22 Tons</label>
		</div>
		<div class="col-sm-3  col-xs-6">
			<input class="truck-subtype-radio" name="vehicletype" type="radio" id="trailerTruck_12" value="12">
			<label class="truck-subtype-label" onclick="setTruck('Trailer 40 Feet Semi Bed 30 Tons')" for="trailerTruck_12">40 Feet Semi Bed 30 Tons</label>
		</div>
		<div class="col-sm-3  col-xs-6">
			<input class="truck-subtype-radio" name="vehicletype" type="radio" id="trailerTruck_13" value="13">
			<label class="truck-subtype-label" onclick="setTruck('Trailer 40 Feet Flat Bed 22 Tons')" for="trailerTruck_13">40 Feet Flat Bed 22 Tons</label>
		</div>
		<div class="col-sm-3  col-xs-6">
			<input class="truck-subtype-radio" name="vehicletype" type="radio" id="trailerTruck_14" value="14">
			<label class="truck-subtype-label" onclick="setTruck('Trailer 40 Feet Flat Bed 30 Tons')" for="trailerTruck_14">40 Feet Flat Bed 30 Tons</label>
		</div>
		<div class="col-sm-3  col-xs-6">
			<input class="truck-subtype-radio" name="vehicletype" type="radio" id="trailerTruck_26" value="26">
			<label class="truck-subtype-label" onclick="setTruck('Trailer 40 Feet Flat Bed 25 Tons')" for="trailerTruck_26">40 Feet Flat Bed 25 Tons</label>
		</div>
		<div class="col-sm-3  col-xs-6">
			<input class="truck-subtype-radio" name="vehicletype" type="radio" id="trailerTruck_27" value="27">
			<label class="truck-subtype-label" onclick="setTruck('Trailer 40 Feet Semi Bed 25 Tons')" for="trailerTruck_27">40 Feet Semi Bed 25 Tons</label>
		</div>*@
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
</div>

@code {

	[Inject]

	public IVehicleSubTypeInfoService VehicleSubTypeService { get; set; }

	public IEnumerable<VehicleSubTypeInfoDto> VehicleSubTypeInfos { get; set; } = new List<VehicleSubTypeInfoDto>();

	public VehicleSubTypeInfoDto newVehicleSubTypeInfoDtoObject { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		VehicleSubTypeInfos = await VehicleSubTypeService.GetByVehicleTypeId(1);
	}

}