/* /Pages/Load.razor.rz.scp.css */
/*<style >*/
.truck-label div[b-ogszf1e0ga] {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
}

@media only screen and (max-width:600px) {
    .truck-label[b-ogszf1e0ga] {
        margin-left: 0
    }

        .truck-label div[b-ogszf1e0ga] {
            width: 85px;
            margin-left: 0
        }
}

.truck-radio[b-ogszf1e0ga] {
    display: none;
}

    .truck-radio:checked + label div[b-ogszf1e0ga] {
        background-color: #edabad;
    }

.truck-subtype-radio[b-ogszf1e0ga] {
    display: none;
}

.truck-subtype-label[b-ogszf1e0ga] {
    width: 100px;
    text-align: center;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 15px;
    ;
    padding: 2%;
    margin-top: 20px;
}

.truck-subtype-radio:checked + label[b-ogszf1e0ga] {
    background-color: #edabad;
}

/*</style >
*/
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-hsw4xxwoo4] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-hsw4xxwoo4] {
    flex: 1;
}

.sidebar[b-hsw4xxwoo4] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-hsw4xxwoo4] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-hsw4xxwoo4]  a, .top-row[b-hsw4xxwoo4]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-hsw4xxwoo4]  a:hover, .top-row[b-hsw4xxwoo4]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-hsw4xxwoo4]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-hsw4xxwoo4] {
        display: none;
    }

    .top-row.auth[b-hsw4xxwoo4] {
        justify-content: space-between;
    }

    .top-row[b-hsw4xxwoo4]  a, .top-row[b-hsw4xxwoo4]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-hsw4xxwoo4] {
        flex-direction: row;
    }

    .sidebar[b-hsw4xxwoo4] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-hsw4xxwoo4] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-hsw4xxwoo4]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-hsw4xxwoo4], article[b-hsw4xxwoo4] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-uv363i808n] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-uv363i808n] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-uv363i808n] {
    font-size: 1.1rem;
}

.oi[b-uv363i808n] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-uv363i808n] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-uv363i808n] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-uv363i808n] {
        padding-bottom: 1rem;
    }

    .nav-item[b-uv363i808n]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-uv363i808n]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-uv363i808n]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-uv363i808n] {
        display: none;
    }

    .collapse[b-uv363i808n] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
