@page "/weather"

<h3>Weather</h3>

@if(Weathers == null)
{
    <p>Loading...</p>
}

else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temprature in C</th>
                <th>Temprature in F</th>
                <th>Summary</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Weathers)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.TemperatureC</td>
                    <td>@item.TemperatureF</td>
                    <td>@item.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}
